@import "tailwindcss";
@import "tw-animate-css";
/* ---break---*/
@custom-variant dark (&:is(.dark *));

@theme {
  --font-space-grotask: "Space Grotesk", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-helvetica: "Helvetica", sans-serif;

  --breakpoint-xss: 390px; /* bp for section 3*/
  --breakpoint-xs: 520px;
  --breakpoint-tab: 820px;
  --breakpoint-xxl: 1440px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Background */
  --color-background-primary: #347433;
  --color-background-first: #0f971c;
  --color-background-second: #0b6f15;
  --color-background-third: #faf7f3;
  --color-minor-grey: #f7f7f7;
  --color-outline-grey: #d9d9d9;

  --color-primary-green: #eafe62;

  /* Text */
  --color-text-sub-headline: #74726e;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-grid: grid 15s linear infinite;
  @keyframes grid {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes grid {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@font-face {
  font-display: swap;
  font-family: "Helvetica";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/Helvetica-Light.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Helvetica";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Helvetica.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Helvetica";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Helvetica-Bold.woff2") format("woff2");
}

/* ---break---*/
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}
/* ---break---*/
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
/* ---break---*/
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.style-navbar-mobile-font {
  @apply font-helvetica text-[15px] md:text-base text-center text-black;
}
.style-navbar-mobile-bg {
  @apply py-3 rounded hover:bg-minor-grey;
}

.text-style-headline {
  @apply font-helvetica text-[30px] leading-10 md:text-[35px] lg:text-[45px] lg:leading-14 xl:leading-16 font-light;
}
.text-style-subheadline {
  @apply font-helvetica text-[15px] md:text-base xl:text-lg font-light leading-7 lg:leading-8;
}

/* Button with Icon */
.rounded-icon-width {
  @apply h-5 w-5  lg:h-6 lg:w-6;
}
.rounded-text-style {
  @apply font-helvetica text-[15px] lg:text-base font-normal;
}

/* Text Style Inner Card Green */
.title-inner-card {
  @apply font-helvetica text-lg md:text-[20px] xl:text-[22px] text-black;
}
.desc-inner-card {
  @apply font-helvetica text-[15px] leading-7 md:text-base md:leading-8 xl:text-lg text-text-sub-headline font-light;
}

/* Cta Section */
.cta-button-text {
  @apply font-helvetica text-[15px] md:text-base text-black text-center;
}

/* label form */
.label-style {
  @apply font-helvetica text-text-sub-headline text-[15px] md:text-base font-normal;
}

.headline-form {
  @apply font-helvetica text-lg text-black lg:text-xl;
}
.subheadline-form {
  @apply font-helvetica text-base lg:text-lg text-text-sub-headline font-light text-center lg:text-start;
}
.input-form-text {
  @apply bg-minor-grey rounded-lg appearance-none border w-full py-3 px-4;
}

/* Footer */
.footer-text-headsub {
  @apply font-helvetica text-base md:text-lg  font-normal;
}
.footer-text-sub {
  @apply font-helvetica text-[15px] md:text-base text-start font-normal;
}

/* Padding Layout for Section */

.padding-x {
  @apply px-4 md:px-6 lg:px-8 xl:px-10;
}
